accelerate==1.10.1
apex==0.9.10dev
asposestorage==1.0.2
bitsandbytes==0.47.0
callbacks==0.3.0
data==0.4
datasets==4.0.0
debug_utils==1.0
deepspeed==0.17.5
extras==1.0.0
fastapi==0.116.1
galore_torch==1.0
grokadamw==0.1.2
hparams==0.3.0
huggingface_hub==0.33.0
intel_extension_for_pytorch==2.8.0
jieba==0.42.1
Jinja2==3.1.6
liger_kernel==0.6.2
lomo_optim==0.1.1
matplotlib==3.10.5
msgspec==0.19.0
numpy==2.3.2
openai==1.102.0
optuna==4.5.0
packaging==25.0
pandas==2.3.2
peft==0.17.1
pydantic==2.11.7
pytorch_utils==0.5.5
ray==2.49.0
Requests==2.32.5
rich==14.1.0
safetensors==0.6.2
schedulefree==1.4.1
torch==2.7.1
torch_npu==2.6.0
torch_xla==2.8.0
torchao==0.12.0
tqdm==4.67.1
transformers==4.52.4
trl==0.21.0
typing_extensions==4.15.0
tyro==0.9.28
utils==1.0.2
uvicorn==0.35.0
vllm==0.10.1.1
vllm_ascend==0.7.3.post1
wandb==0.21.1
